@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base-200 min-h-screen;
}

h1 {
  @apply text-4xl font-semibold;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

iframe {
  color-scheme: normal;
}

@keyframes trbtn-wiggle {
  0% {
    transform: rotate(0) scale(1);
  }

  60% {
    transform: rotate(0) scale(1);
  }

  75% {
    transform: rotate(0) scale(1.12);
  }

  80% {
    transform: rotate(0) scale(1.1);
  }

  84% {
    transform: rotate(-10deg) scale(1.1);
  }

  88% {
    transform: rotate(10deg) scale(1.1);
  }

  92% {
    transform: rotate(-10deg) scale(1.1);
  }

  96% {
    transform: rotate(10deg) scale(1.1);
  }

  100% {
    transform: rotate(0) scale(1);
  }
}
